*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #222227;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	overscroll-behavior: contain;
}
div {
	color: #aaa;
	line-height: 1.5;
}
.p5Canvas {
	margin: 1rem auto;
}

button {
	padding: 0.2rem 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
}
