*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	overflow: auto;
}
body {
	background: #222227;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 40px;

	overscroll-behavior: contain;
}
div {
	color: #aaa;
	line-height: 1.4;
}
.p5Canvas {
	margin: 1rem auto;
}

button {
	font-size: 40px;
	padding: 1rem 2rem;
	margin-top: 1rem;
	margin-left: 1rem;
}
